[submodule "src/libs/Simple-Web-Server"]
	path = src/libs/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "src/libs/PJON"]
	path = src/libs/PJON
	url = https://github.com/gioblu/PJON.git
[submodule "src/libs/args"]
	path = src/libs/args
	url = https://github.com/Taywee/args.git
[submodule "src/libs/json"]
	path = src/libs/json
	url = https://github.com/nlohmann/json.git
